/* Ders 6 - display özellikleri
block, inline, inline-block, none (gizleme) örnekleri
*/
.kutu1 {
    background-color: aquamarine;
    display: block;
    width: 200px;
    height: 50px;
    margin-bottom: 10px;
    /* display: block -> yeni satırdan başlar, genişlik/yükseklik alabilir */
}

.kutu2,
.kutu3 {
    background-color: brown;
    display: inline-block;
    padding: 10px;
    color: white;
    /* inline-block -> satır içinde yan yana gelir, yine de genişlik/yükseklik alabilir */
}

.buton {
    display: inline-block;
    background-color: yellowgreen;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    /* display: none; */
    /* display: none -> Elemanı tamamen gizler, sayfada yer kaplamaz.
               Bu örnekte butonlar bilerek gizlenmiştir. */

}


.kapsayici div {
    background-color: blue;
    padding: 20px;
    color: white;
    /* display: none; */
    /* Bu kapsayıcıdaki tüm div'ler gizli. display'ı block/inline-block yaparsanız görünürler. */
}