* {
    margin: 0;
}


#main-container {
    width: 400px;
 
    /* ana divin genişliği burası */
   height: 600px;

   border-radius: 10px;

  border: 1px solid wheat;

    margin: auto;
    /*burdaki auto ana divi ortalamak için kullanılıyor bir adet width verip marginine auto verir isek nesne ortalanır */
}


#upper-div {
    background: linear-gradient(to right bottom, #c6a7ff, #8a2be2);

    /*hocanın bahsettiği gradient yapısı sağ aşağı doğru renk geçişi oluşmasını sağlar kullanımı bu şekildir*/

    width: 100%;


    height: 200px;
    border-radius: 0px 0px 10px 10px;
    /*kenarlarını yumuşatmak için kullandık */
}

#details-div {
    width: 100%; /* Div'in genişliğini kapsayıcı (ana) div'in tamamına yayar. 
    Bu, div'in sağa doğru uzamasını ve esnek olmasını sağlar. */
    height: 250px;
    padding: 20px; /*divin içeriği ile kenarları arasında 20px boşluk bırakır*/
    border-radius: 10px 10px 0px 0px; 
}

#footer-div {
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;  /*buton ve fiyat yazısını ortalamak için flex yapısını kullandık justify content yatayda align items dikeyde ortaladı */
}

#elektronik-div {
    padding: 20px;  /*yazılar ortaya gelsin diye 20px  her kenardan iç boşluk verdik 3üne de */
    color: pink;
}

#ikincibaslik {
    padding: 20px;
}

#paragrafid {
    padding: 20px;
}



#fiyatlandırma {
    font-weight: 700;
    font-size: large;

    text-align: left;
    color: red;
}

#button1 {
    background-color: #8a2be2;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 25px;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
        margin-left: 30px; /* buton ile fiyat etiketinin arasında boşluk bırakmak için soldan 30px boşluk bıraktık */
}