* {
    margin: 0;
    padding: 0;
}

.menu {
    background-color: #34495e;
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.menu ul {
    list-style: none;
}

.menu>ul>li {
    display: inline-block;
    position: relative;
}

.menu>ul>li>a {
    display: block;
    padding: 20px 30px;
    background-color: #34495e;
    color: #ffffff;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
}

.menu>ul>li.has-submenu>a:hover,
.menu>ul>li.has-submenu:hover>a {
    background-color: #2c3e50;
}

.menu>ul>li:not(.has-submenu)>a:hover {
    background-color: #2c3e50;
}

.menu .alt-menu {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    min-width: 180px;
    list-style: none;
}

.menu .alt-menu li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.menu .alt-menu li:last-child {
    border-bottom: none;
}

.menu .alt-menu a {
    display: block;
    padding: 14px 24px;
    color: #ffffff;
}

.alt-menu--kurumsal a {
    background-color: #9b59b6;
}

.alt-menu--hizmetler a {
    background-color: #e74c3c;
}

.alt-menu--referanslar a {
    background-color: #16a085;
}

.menu li:hover>.alt-menu {
    display: block;
}