/* MR ROBOT fontunu projeye dahil etme */
@font-face {
    font-family: 'MR ROBOT';
    src: url('../fonts/MR ROBOT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Paragraflarda kullan */
p {
    font-family: 'MR ROBOT', Arial, Helvetica, sans-serif;
    font-size: 48px;      /* temel boyut */
    text-align: center;

}


.red-text-shadow {
  text-shadow: red 0 -10px;
}

.isim-soyisim {
  background-color: pink;
  color: blue;
}

.ders {
  background-color: purple;
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  text-shadow: 3px 0px rgb(0, 255, 115);
}

.paragraf1 {
  font-style : italic;
  font-size : 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.paragraf2 {
  font-display: center;
  font-size : 32px;
  font-family: 'Times New Roman', Times, serif;
  text-transform: lowercase;
}

.background {
  /* Fallback color */
  background-color: rgb(0, 255, 242);
  /* Background image (adjust the path/file name as needed) */
  background-image: url('../img/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  
}