.container {
    display: flex;  
    /* 
    flex-direction: column;
    flex-direction: row;
    flex-direction: column-reverse;
    flex-direction: row-reverse;

    justify-content: center;
    justify-content: flex-start;
    justify-content: flex-end;

    justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly;

    align-items: center;
    */

    background-color: red;
    height: 200px;
    flex-wrap: wrap;
    flex-wrap: nowrap;
    
}

.box {
width: 180px;
height: 100px;
background-color: orange;
border: 1px solid black;
text-align: center;
line-height: 100px;
margin-right: 20px;
flex-grow: 1;
}   

.box2 {
    flex: grow 5;
}